img {
    max-height: 15rem;
}

.title {
    text-transform: uppercase;
    color: #1a1a1a;
}

.title:hover {
    color: red;
    cursor: pointer;
}

.is_not_returned {
    color: #c11818;
}

.phrase-truncate-4 {
  height: 6em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
