{% extends 'base.html' %}
{% load static %}

{% block title %}
  Days of week
{% endblock %}

{% block page_style %}
  <link rel="stylesheet" href="{% static 'quotes/css/quotes_styles.css' %}" />
{% endblock %}

{% block content %}

  <div class="container mt-3">
    {% include './includes/partial.html' %}
    <h1 class="primary-text">Days of week</h1>
    <p>Please select a day of week to see your phrase</p>
    <ul>
      {% for day in days %}
        <li class="hover-red">
          <a href="{% url 'day-quote' day %}" class="primary-text hover-red">{{ day }}</a>
        </li>
      {% endfor %}
    </ul>
    {% include './includes/endpartial.html' with days=days name='Yeromi' %}
  </div>

{% endblock %}
