<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tool|upper}}</title>
</head>
<body>
    <h1>Tecnologia: {{tool}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima rerum magnam nam ut non, ipsam iste odio suscipit, eos molestias inventore voluptatibus labore harum ipsum, quas veritatis unde vel aliquid?</p>
    <a href='{% url "home" %}'>Volver al inicio</a>
</body>
</html>