// Definiendo variables principales
$primary: #6B4F3B;
$secondary: #8FAF8A;

@import "../bootstrap/scss/bootstrap";

.border-bottom-gray {
    border-bottom: 5px solid $gray-500;
}

summary {
    color: $blue-700;
}
