{% extends "base.html" %}

{% block title %}Pruebas de funcionalidad{% endblock title %}

{% block content %}

  <div class="container overflow-hidden p-0 mt-3 shadow rounded-3">
    <div class="p-3 bg-secondary border-bottom border-3 border-dark text-light">
      <h1 class="fs-1 text-center">Pruebas de funcionalidad</h1>
    </div>
    <div class="d-flex justify-content-center m-3">
      <a href="#" class="text-decoration-none p-5 border rounded d-flex flex-column align-items-center">
        <i class="bi bi-youtube fs-2"></i>
        <p class="fs-3">Videos</p>
      </a>
    </div>
  </div>

{% endblock content %}